/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font-family: 'LiberationMonoRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex; 
    flex-direction: column; 
    }
    .header {
        /* this is done */
            align-items: center;
            padding: 20px 300px;
            position: sticky;
            background-color: #1f2937;
            display: flex;
            box-shadow:0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
            top: 0;
            justify-content: space-between;
    } 

.hero,
.footer {
        /* this is done. style only */
     background-color: #1f2937;
}


.second-part,
.quote,
.cta-container,
.footer {
    /* this is done. padding left/right for the whole site. 
    search later how to default this*/
    padding-left: 300px;
    padding-right: 300px;
} 
.hero-subtext,
.links  { 
    /* this is done. style only */
    font-size: 1.2rem;
    color: #E5E7EB;
}



.links {
    /* this is done. for inbetween images gaps, go to .cards */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
     gap: 25px;
 }
 .links-member :hover {
    transform: scale(1.03);
 }
 .logo {
     /* this is done. style only */
     font-size: 1.5rem;
     color: #F9FAF8;
     font-weight: bold;
 }
 .hero-content {
    /* this is done */
    display: flex;
    padding: 100px 300px;
    justify-content: space-between;
 }
.hero-header {
    /* this is done */
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
    flex-flow: wrap;
    max-width: 550px;
    padding-bottom: 20px;
}

.hero-subtext {
    /* this is done */
    flex-flow: wrap;
    max-width: 450px;
}
.hero-img {
    /* this is done */
    display: flex; 
    max-width: 600px;
    border-radius: 25px;
}

.hero-button {
    /* this is done */
    background-color:#3882F6;
    color:  #E5E7EB;
    font-size: 1.1rem;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
}
 
.second-part {
     /* this is done */
    padding-top: 100px;
    padding-bottom: 150px;
}
.second-part-title {
     /* this is done */
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    padding-bottom: 50px;
 
}
.second-part-list {
     /* this is done */
    display: flex;
    justify-content: center;
    gap: 30px;
}
.cards {
     /* this is done */
    max-width: 250px;
}
.text {
     /* this is done */
    text-align: center;
    padding: 10px;
}
.second-part-img {
     /* this is done */
    max-width: 250px;
    border-radius: 25px;
}


.quote {
    background-color: #E5E7EB;
    padding: 100px 500px;
}
.quote-text {
    background-color: #E5E7EB;
    font-size: 2rem;
    font-weight:100;
    font-style:italic;
    color: #1f2937;
}
.quote-author {
    font-size: 24px;
    font-weight:bolder;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
}

.cta-container {
    color: #E5E7EB;
    display: flex;
    flex: 1;
    background-color:#3882F6;
    margin: 100px 400px; 
    border-radius: 5px;
    padding: 30px 80px;
    justify-content: space-between;
}

.cta-title {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
} 

.cta-subtitle {
    font-size:13px;
}

.cta-button {
    background-color:#3882F6;
    color:  #E5E7EB;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border:#F9FAF8 1px solid;
    border-radius: 8px;

}

.footer {
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}

ul {
    list-style: none;

    margin: 0;
    padding: 0;
       
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

